@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ... le reste de ton CSS ... */

body {
  background: var(--background);
  color: white;
  @apply font-sans;
}

/* ... tes autres règles ... */
